

<mainmenu-area></mainmenu-area>

<header-area></header-area> 

<about-area></about-area>

<service-area></service-area>

<skill-area></skill-area>

<portfolio-area></portfolio-area>

<team-area></team-area>

<price-area></price-area>

<blog-area></blog-area>

<contact-area></contact-area>

<!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map> -->

  <div style="height:200px"></div>

<footer-area></footer-area>