<section class="section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="video-box">
                    <img src="../../../landing-assets/images/video-image.png" alt="">
                    <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="video-bttn"><img src="images/video-button.png" alt=""></a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 wow fadeInUp">
                <div class="page-title">
                    <h2 class="title">Why Choose Us?</h2>
                    <ul class="tabs-list">
                        <li class="active"><a data-toggle="pill" href="#our_mission">Our Mission</a></li>
                        <li><a data-toggle="pill" href="#our_vission">Our Vission</a></li>
                        <li><a data-toggle="pill" href="#our_support">Our Support</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="our_mission" class="tab-pane fade in active">
                        <h4 class="upper thing">SINCE WE HAVE 25 YEARS </h4>
                        <h3 class="upper">EXPERIENCE IN THIS PASSION</h3>
                        <p>Aenean rutrum, lorem sed cursus tristique, turpis velit ullamcorper ligula, id pretium elit augue in libero. Suspendisse in porttitor orci. Pellentesque vel gravida augue.</p>
                        <br />
                        <a href="#" class="bttn bttn-sm bttn-primary">View More</a>
                    </div>
                    <div id="our_vission" class="tab-pane fade">
                        <h4 class="upper thing">SINCE WE HAVE 25 YEARS </h4>
                        <h3 class="upper">EXPERIENCE IN THIS PASSION</h3>
                        <p>Aenean rutrum, lorem sed cursus tristique, turpis velit ullamcorper ligula, id pretium elit augue in libero. Suspendisse in porttitor orci. Pellentesque vel gravida augue.</p>
                        <br />
                        <a href="#" class="bttn bttn-sm bttn-primary">View More</a>
                    </div>
                    <div id="our_support" class="tab-pane fade">
                        <h4 class="upper thing">SINCE WE HAVE 25 YEARS </h4>
                        <h3 class="upper">EXPERIENCE IN THIS PASSION</h3>
                        <p>Aenean rutrum, lorem sed cursus tristique, turpis velit ullamcorper ligula, id pretium elit augue in libero. Suspendisse in porttitor orci. Pellentesque vel gravida augue.</p>
                        <br />
                        <a href="#" class="bttn bttn-sm bttn-primary">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section  for="foo" class="section-padding" id="service-area" tabindex="-1">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="feature-box wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="box-icon">
                      <i class="icofont icofont-idea"></i>
                  </div>
                  <h4>Unique Design</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  <a href="#" class="read-more">Read More</a>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="feature-box wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                  <div class="box-icon">
                      <i class="icofont icofont-code-alt"></i>
                  </div>
                  <h4>Clean Layout</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  <a href="#" class="read-more">Read More</a>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="feature-box wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                  <div class="box-icon">
                      <i class="icofont icofont-monitor"></i>
                  </div>
                  <h4>Well Responsive</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  <a href="#" class="read-more">Read More</a>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="feature-box wow fadeInUp" data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;">
                  <div class="box-icon">
                      <i class="icofont icofont-chart-bar-graph"></i>
                  </div>
                  <h4>Pro Developing</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  <a href="#" class="read-more">Read More</a>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="feature-box wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                  <div class="box-icon">
                      <i class="icofont icofont-files"></i>
                  </div>
                  <h4>Well Documented</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  <a href="#" class="read-more">Read More</a>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="feature-box wow fadeInUp" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                  <div class="box-icon">
                      <i class="icofont icofont-money-bag"></i>
                  </div>
                  <h4>Quick Marketing</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  <a href="#" class="read-more">Read More</a>
              </div>
          </div>
      </div>
  </div>
</section>