<section  for="foo" class="section-padding" id="about-area">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-5">
              <div class="page-title">
                  <h2 class="title wow fadeInUp">We Offer Quick &amp; Powerful Business Solution</h2>
                  <div class="wow fadeInUp" data-wow-delay="0.5s">
                      <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you.</p>
                  </div>
              </div>
              <div class="wow fadeInUp" data-wow-delay="0.7s">
                  <a href="#" class="bttn bttn-primary">Learn More</a>
              </div>
          </div>
          <div class="hidden-xs col-sm-6 col-md-offset-1">
              <img src="../../../landing-assets/images/about-image.png" alt="">
          </div>
      </div>
  </div>
</section>