<section  for="foo" class="section-padding gray-bg" id="price-area">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="page-title text-center">
                  <h2 class="title">Pricing Plan</h2>
                  <p>There are many variations of passages of Lorem Ipsum available.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
              <ul class="price-tabs">
                  <li class="active"><a data-toggle="pill" href="#monthly">Monthly</a></li>
                  <li><a data-toggle="pill" href="#yearly">Yearly</a></li>
              </ul>
          </div>
      </div>
      <div class="row prices tab-content">
          <div id="monthly" class="tab-pane fade in active">
              <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.2s">
                  <div class="price-box">
                      <h4>Basic</h4>
                      <h3 class="amount">&#36;10 /<span>Month</span></h3>
                      <ul class="price-list">
                          <li>Free Useable</li>
                          <li>Easily can useable 10GB</li>
                          <li>Free Secuirity Service</li>
                          <li>Dedicated Useable Account</li>
                      </ul>
                      <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                  </div>
              </div>
              <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                  <div class="price-box active">
                      <h4>Premium</h4>
                      <h3 class="amount">&#36;50 /<span>Month</span></h3>
                      <ul class="price-list">
                          <li>Free Useable</li>
                          <li>Easily can useable 10GB</li>
                          <li>Free Secuirity Service</li>
                          <li>Dedicated Useable Account</li>
                      </ul>
                      <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                  </div>
              </div>
              <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                  <div class="price-box">
                      <h4>Business</h4>
                      <h3 class="amount">&#36;80 /<span>Month</span></h3>
                      <ul class="price-list">
                          <li>Free Useable</li>
                          <li>Easily can useable 10GB</li>
                          <li>Free Secuirity Service</li>
                          <li>Dedicated Useable Account</li>
                      </ul>
                      <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                  </div>
              </div>
              <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                  <div class="price-box">
                      <h4>Ultimate</h4>
                      <h3 class="amount">&#36;100 /<span>Month</span></h3>
                      <ul class="price-list">
                          <li>Free Useable</li>
                          <li>Easily can useable 10GB</li>
                          <li>Free Secuirity Service</li>
                          <li>Dedicated Useable Account</li>
                      </ul>
                      <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                  </div>
              </div>
          </div>
          <div id="yearly" class="tab-pane fade">
              <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.2s">
                  <div class="price-box">
                      <h4>Basic</h4>
                      <h3 class="amount">&#36;10 /<span>Year</span></h3>
                      <ul class="price-list">
                          <li>Free Useable</li>
                          <li>Easily can useable 10GB</li>
                          <li>Free Secuirity Service</li>
                          <li>Dedicated Useable Account</li>
                      </ul>
                      <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                  </div>
              </div>
              <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                  <div class="price-box active">
                      <h4>Premium</h4>
                      <h3 class="amount">&#36;50 /<span>Year</span></h3>
                      <ul class="price-list">
                          <li>Free Useable</li>
                          <li>Easily can useable 10GB</li>
                          <li>Free Secuirity Service</li>
                          <li>Dedicated Useable Account</li>
                      </ul>
                      <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                  </div>
              </div>
              <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                  <div class="price-box">
                      <h4>Business</h4>
                      <h3 class="amount">&#36;80 /<span>Year</span></h3>
                      <ul class="price-list">
                          <li>Free Useable</li>
                          <li>Easily can useable 10GB</li>
                          <li>Free Secuirity Service</li>
                          <li>Dedicated Useable Account</li>
                      </ul>
                      <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                  </div>
              </div>
              <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                  <div class="price-box">
                      <h4>Ultimate</h4>
                      <h3 class="amount">&#36;100 /<span>Year</span></h3>
                      <ul class="price-list">
                          <li>Free Useable</li>
                          <li>Easily can useable 10GB</li>
                          <li>Free Secuirity Service</li>
                          <li>Dedicated Useable Account</li>
                      </ul>
                      <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>